{% extends "blog/layout.html" %}
{% block extra_head %}
<style>
#map{
  width:240px;
  height:120px;
  background-color:blue;
}
</style>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<script>
function initMap() {
  var $map = $('#map');
  if ($map.size()>0){
    var lat = $map.data('lat')
    var lng = $map.data('lng')
    var myLatLng = {'lat': lat, 'lng': lng};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
{% if post.lnglat %}
<div id="map" data-lat="{{post.lat}}" data-lng="{{post.lng}}"></div>
{% endif %}
{{post.content|linebreaks}}
<h3>Comments</h3>
<ul>
  {% for comment in post.comment_set.all %}
  <li>
    {{comment.message}}
  </li>
  {% endfor %}
</ul>
<hr/>
{% endblock %}
